@slider-width: 10px;
.el-slider.is-vertical.resume-zoom {
  .el-slider__runway {
    width: @slider-width;
    border-radius: calc(@slider-width / 2);
    border: 1px solid #ffffff;
    background-color: #999999;
    margin: 0;

    .el-slider__bar {
      background-color: var(--color_primary-1);
      width: 100%;
      border-radius: calc(@slider-width / 2);
    }
    .el-slider__button-wrapper {
      left: -14px;
      .el-slider__button {
        width: calc(@slider-width * 1.8);
        height: calc(@slider-width * 1.8);
        border: 1px solid var(--color_primary-1);
      }
    }
  }
}

button.el-button {
  &:hover,
  &:active {
    background-color: #ffffff;
    border-color: var(--color_primary-1);
    color: var(--color_primary-1);
    span {
      font-weight: bold;
    }
  }

  &.el-button--primary,
  &.el-button--primary:hover,
  &.el-button--primary:active {
    background-color: var(--color_primary-1);
    border-color: var(--color_primary-1);
    color: #ffffff;
  }
}

.el-message {
  max-width: 90%;
  padding: 8px 10px;
  .el-message__icon {
  }
  .el-message__content {
    font-size: 18rem;
    white-space: nowrap;
  }
}

.el-dropdown__popper {
  .el-scrollbar {
    .el-scrollbar__wrap {
      .el-scrollbar__view.el-dropdown__list {
        ul.el-dropdown-menu {
          li.el-dropdown-menu__item {
            user-select: none;
            background-color: #ffffff;
            color: var(--color_primary-1);
            &:hover {
              background-color: #efefef;
              color: var(--color_primary-1);
            }
          }
        }
      }
    }
  }
}
