@slider-width: 10px;
.el-slider.resume-slider {
  .el-slider__runway {
    width: @slider-width;
    border-radius: calc(@slider-width / 2);
    border: 0.3vh solid #ffffff;
    background-color: #999999;

    .el-slider__bar {
      background-color: var(--color_blue-1);
      width: 100%;
      border-radius: calc(@slider-width / 2);
    }
    .el-slider__button-wrapper {
      left: -2vh;
      .el-slider__button {
        width: 3vh;
        height: 3vh;
        border: 0.3vh solid var(--color_blue-1);
      }
    }
  }
}
